{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "always",
  "parser": "typescript",
  "quoteProps": "consistent",
  "bracketSpacing": true
}